<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="pt-4">
                    <h4 class="alert-text">Send us a message</h4>
                    <div class="contact">
                        Here at Critical Pass we provide innovative tools and interactive visualizations to help you
                        manage your projects. If you have any
                        questions, suggestions, or would like to collaborate with us, please fill out the form and submit a request or contact <span class="address">
                        info&#64;criticalpass.io </span> directly.
                    </div>
                </div>
            </div>
            <div class="col-8">
                <da-email-form title="Contact Us" formType="contact-us" [secure]="false"></da-email-form>
            </div>
        </div>
    </div>
</div>