

<!-- <cpo-about-banner></cpo-about-banner> -->

<section class="nk-section nk-section-features  pb-7 pb-lg-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="nk-section-head pb-lg-120 text-center">
                    <span class="nk-section-subtitle">powerful features</span>
                    <h2 class="nk-section-title">Discover powerful features</h2>
                    <p class="nk-section-text"> Unlock a range of powerful features designed to enhance your
                        experience and maximize productivity. Explore now! </p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-7 gap-lg-120">
            <div class="row flex-lg-row-reverse align-items-center justify-content-between">
                <div class="col-xl-6" data-aos="fade-up" data-aos-delay="0">
                    <div class="nk-frame nk-frame-seven-a scenario-container text-center pb-7 pb-xl-0">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/8rXe3N6oWV0?si=GnTy-_VvUURpAR1r"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div>
                        <div class="nk-section-head pb-5">
                            <span class="nk-section-subtitle">Extremely flexible </span>
                            <h3 class="text-capitalize mb-5"> System Design and the Method</h3>
                            <a href="#" class="btn-link text-primary">
                                <span>Learn More</span>
                                <em class="icon ni ni-arrow-right"></em>
                            </a>
                            <hr class="m-0 mt-5">
                        </div>
                        <div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-primary-soft text-center me-3">
                                    <em class="icon ni ni-bar-chart-fill"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize">Software Crisis </h5>
                                    <p class="fs-16">A high number of software projects fail even before they begin. Identify win-win scenarios and avoid possible failure with Critical Pass.
                                        </p>
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-primary-soft text-center me-3">
                                    <em class="icon ni ni-browser-fill"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize"> 
                                        Project Design</h5>
                                    <p class="fs-16"> The proper way to manage systems from simple to complex. How to be on time and within budget. </p>
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-primary-soft text-center me-3">
                                    <em class="icon ni ni-grid-fill-c"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize">Software Architecture</h5>
                                    <p class="fs-16">Follow the best practices that have emerged throughout history. Design based on volitility.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6" data-aos="fade-up" data-aos-delay="0">
                    <div class="nk-frame nk-frame-seven-b text-center pb-5 pb-xl-0">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/cgyTvPSaWiQ?si=ackCEnz4SH4kW5JC"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div>
                        <div class="nk-section-head pb-5">
                            <span class="d-inline-block fs-14 fw-semibold text-danger text-uppercase mb-3">Totally
                                Optimized</span>
                            <h3 class="text-capitalize mb-5">Design With Confidence
                            </h3>
                            <a href="#" class="btn-link text-danger">
                                <span>Learn More</span>
                                <em class="icon ni ni-arrow-right"></em>
                            </a>
                            <hr class="m-0 mt-5">
                        </div>
                        <div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-danger-soft text-center me-3">
                                    <em class="icon ni ni-bar-chart-fill"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize"> Common Pitfalls </h5>
                                    <p class="fs-16"> Avoid fragile designs. DDD designs around domain which can easily change. Avoid designing directly against the requirements, a volatile list.</p>
                                    <!-- Requirements change. Avoid DDD. Domain can be volatile. Encapsalate the changes / volatility.
                                    project and reveal unalienable truths that govern behavior.  Find the shortest possible timeframe to complete your -->
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-danger-soft text-center me-3">
                                    <em class="icon ni ni-browser-fill"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize">Volatility Based Desgin </h5>
                                    <p class="fs-16"> Plan for potential changes. Encapsulate what can change and define the axes of volatility. Design and plan an adaptable extendable system.</p>
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div
                                    class="media media-md media-circle media-middle text-bg-danger-soft text-center me-3">
                                    <em class="icon ni ni-grid-fill-c"></em>
                                </div>
                                <div>
                                    <h5 class="mb-2 text-capitalize">Antifragile</h5>
                                    <p class="fs-16"> Make your system antifragile. One that not only gains from chaos but uses it to flourish. </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>












