<section class="nk-section nk-section-cta pb-lg-7">
    <div class="container">
        <div class="bg-gray-1400 p-5 pb-0 pb-md-0 p-md-7 pb-xl-7 rounded-2 is-theme is-theme-bg">
            <div class="row justify-content-between">
                <div class="col-xl-6">
                    <div class="text-center text-xl-start">
                        <div class="h1">Ready to get started?</div>
                        <p>Try our services for free and find out which plan is best for you</p>
                        <ul
                            class="nk-btn-group flex-wrap justify-content-center justify-content-lg-start pt-5">
                            <li>
                                <a href="#" class="btn btn-white">Get Started</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-outline-white">More Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="position-relative">
                        <div class="nk-frame nk-frame-eight">
                            <img src="assets/images/project-management/section-cover-4.png"
                                alt="section-cover" data-aos="fade-down" data-aos-delay="0">
                            <div class="nk-frame-children nk-frame-children-one">
                                <img src="assets/images/project-management/section-cover-4-a.png"
                                    alt="frame-children">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>