<section class="nk-banner nk-banner-project-management">
    <div class="nk-banner-wrap">
        <div class="container">
            <div class="row justify-content-center justify-content-xl-between align-items-xl-center">
                <div class="col-lg-10 col-xl-5">
                    <div class="nk-section-head text-center text-xl-start pb-5 pb-md-7 pb-xl-0">
                        <span
                            class="badge badge-md text-bg-primary-soft rounded-pill text-uppercase px-3 mb-3"
                            data-aos="fade-up" data-aos-delay="0">project solutions</span>
                        <div>
                            <h1 class="text-capitalize mb-2" data-aos="fade-up" data-aos-delay="50">
                                Visualize the path to <span class="text-primary">project</span> success
                            </h1>
                            <p class="nk-section-text" data-aos="fade-up" data-aos-delay="100"> Critical
                                Pass is a powerful tool to plan your project within budget and deadline.
                                Navigate complexities with confidence using interactive visualizations. </p>
                        </div>
                        <ul
                            class="nk-btn-group flex-wrap justify-content-center justify-content-xl-start pt-5">
                            <li data-aos="fade-up" data-aos-delay="150">
                                <a routerLink="./request-access" class="btn btn-primary">Request Access</a>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="200">
                                <a [href]="appUrl + '/login'"
                                    class="btn btn-outline-light border-gray-50 text-dark">Sign Up</a>
                            </li>
                        </ul>
                        <div class="pt-5 pt-lg-7">
                            <h5 class="mb-5 text-gray-800 fw-semibold text-capitalize" data-aos="fade-up"
                                data-aos-delay="250">Project Links</h5>
                            <div
                                class="row auto-w justify-content-center justify-content-xl-start gy-3 gy-xl-0 gap-sm-0">
                                <div class="col-4 col-md-2 col-xl-3" data-aos="fade-up" data-aos-delay="50">
                                    <div class="nk-brand">
                                        <a href="#">
                                            <!-- <img src="assets/images/brands/a.png" alt="brand"> -->
                                            <i class="fa-brands fa-github"></i> <span>GitHub</span>

                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-md-2 col-xl-3" data-aos="fade-up"
                                    data-aos-delay="100">
                                    <div class="nk-brand">
                                        <a href="#">
                                            <i class="fa-brands fa-discord"></i> <span>Discord</span>
                                            <!-- <img src="assets/images/brands/c.png" alt="brand"> -->

                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-md-2 col-xl-3" data-aos="fade-up"
                                    data-aos-delay="150">
                                    <div class="nk-brand">
                                        <a href="#">
                                            <i class="fa-brands fa-youtube"></i> <span>YouTube</span>
                                            <!-- <img src="assets/images/brands/e.png" alt="brand"> -->

                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-md-2 col-xl-3" data-aos="fade-up"
                                    data-aos-delay="200">
                                    <div class="nk-brand">
                                        <a href="#">
                                            <!-- <img src="assets/images/brands/b.png" alt="brand"> -->
                                            <i class="fa-brands fa-linkedin"></i> <span>LinkedIn</span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7" data-aos="fade-up" data-aos-delay="0">
                    <div class="nk-banner-cover nk-frame nk-frame-six">
                        <div class="banner-container">
                            <img src="assets/images/cp/success-path.png" width="800" alt="banner-cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>