
<section class="nk-section nk-how-it-work-section bg-blue-600">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-6">
                <div class="nk-section-head text-center">
                    <span class="nk-section-subtitle">Our Process</span>
                    <div>
                        <h2 class="nk-section-title">How We Do It?</h2>
                        <p class="nk-section-text"> Experience our unique approach and discover how we
                            achieve remarkable results through innovative strategies and cutting-edge. </p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nk-timeline-group gap g-5 has-divider">
            <li class="nk-timeline-group-item" data-aos="fade-up" data-aos-delay="0">
                <div class="nk-timeline-group-content text-center">
                    <div
                        class="media media-lg media-middle media-circle text-bg-primary-soft mb-3 mb-lg-6 fw-semibold">
                        <span class="h4 text-primary">1</span>
                    </div>
                    <div>
                        <span
                            class="d-inline-block fs-14 fw-semibold text-gray-800 text-uppercase mb-3">step
                            1</span>
                        <div>
                            <h3 class="mb-3">Planning</h3>
                            <p class="fs-18 text-gray-800 line-clamp-3">Unleash creativity, shape ideas, and
                                ignite innovation with the powerful tools.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nk-timeline-group-item" data-aos="fade-up" data-aos-delay="50">
                <div class="nk-timeline-group-content text-center">
                    <div
                        class="media media-lg media-middle media-circle text-bg-primary-soft mb-3 mb-lg-6 fw-semibold">
                        <span class="h4 text-primary">2</span>
                    </div>
                    <div>
                        <span
                            class="d-inline-block fs-14 fw-semibold text-gray-800 text-uppercase mb-3">step
                            2</span>
                        <div>
                            <h3 class="mb-3">Infrastructure</h3>
                            <p class="fs-18 text-gray-800 line-clamp-3">Get ready, gather your resources,
                                and lay the foundation for building.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nk-timeline-group-item" data-aos="fade-up" data-aos-delay="100">
                <div class="nk-timeline-group-content text-center">
                    <div
                        class="media media-lg media-middle media-circle text-bg-primary-soft mb-3 mb-lg-6 fw-semibold">
                        <span class="h4 text-primary">3</span>
                    </div>
                    <div>
                        <span
                            class="d-inline-block fs-14 fw-semibold text-gray-800 text-uppercase mb-3">step
                            3</span>
                        <div>
                            <h3 class="mb-3">Construction</h3>
                            <p class="fs-18 text-gray-800 line-clamp-3"> Execute your plan and perfect your
                                work with precision and attention. </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nk-timeline-group-item" data-aos="fade-up" data-aos-delay="150">
                <div class="nk-timeline-group-content text-center">
                    <div
                        class="media media-lg media-middle media-circle text-bg-primary-soft mb-3 mb-lg-6 fw-semibold">
                        <span class="h4 text-primary">4</span>
                    </div>
                    <div>
                        <span
                            class="d-inline-block fs-14 fw-semibold text-gray-800 text-uppercase mb-3">step
                            4</span>
                        <div>
                            <h3 class="mb-3">Deployment</h3>
                            <p class="fs-18 text-gray-800 line-clamp-3"> Bring your project to completion on
                                time and within budget and time. </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- .nk-timeline-group -->
    </div>
</section>