* {
    // color: white;
    div,
    h1,
    h4,
    span,
    p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';
    }
}

.cookie-banner {
    height: 50px;
    top: 0px;
    left: 0px;
    background-color: #ebebeb;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 0.812rem;
    color: black;
    i {
        padding-right: 10px;
        color: black;
    }
}

.background-container {
    width: 100vw;
    height: calc(100vh - 50px);
    min-height: 800px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0.05rem 0.04rem rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 110rem rgba(0, 0, 0, 0.3),
        0 4px 8px 0 rgba(0, 0, 0, 0.05),
        0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.background-container > * {
    text-align: center;
}
.title {
    padding-top: 53%;
    .app-name {
        font-weight: 600 !important;
        text-shadow: 1px 1px #7b7b7b;
        font-family: europa, sans-serif;
        font-size: 3.75rem;
        color: white;
        padding-top: 40px;
    }
    p {
        padding-top: 10px;
        font-size: 1.375rem;
        font-weight: 600;
        color: #fff;
        text-shadow: 1px 1px #797979;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Helvetica Neue,
            Arial,
            sans-serif,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol;
    }
}
button {
    font-weight: 500;

    color: #fff;
    background-size: 50px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    font-size: 1rem;
    height: 45px;
    width: 165px;

    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.login-btn {
    background-color: purple;
    &:hover {
        background-color: #bf08bf;
    }
}
.lib-btn {
    background-color: #a61a19;
    &:hover {
        background-color: #df312f;
    }
}
.lib-btn.disabled {
    background-color: #666;
    &:hover {
        background-color: #666;
    }
}

.logout-btn {
    background-color: #666;
    &:hover {
        background-color: #f9f9f9;
        color: #333;
    }
}
.donate {
    padding-top: 30px;
}
.donate-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 6px 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
}
.logged-in,
.not-authorized {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact {
    padding-bottom: 28px;
    padding-top: 13px;
}
.signin-up {
    padding-top: 37px;
}
.cookie-problems,
.loading-problems,
.not-authorized,
.logged-in {
    padding-top: 20px;
}
.alert-text {
    font-size: 1.5rem;
    color: #cbcbcb;
    font-weight: 500;
}
.loading-problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        padding-bottom: 20px;
    }
}

.cookie-msg {
    position: absolute;
    width: 325px;
    top: 222px;
}
.logged-in {
    position: relative;
}

.loader-txt {
    font-size: 1.125rem;
    text-align: center;
    padding-top: 35px;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #222;
    font-size: 0.625rem;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin-top: 0px;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.loader-txt {
    font-size: 18px;
    text-align: center;
}

// [hidden] attribute doesn't work with flexbox
[hidden] {
    display: none;
}

.loading-container {
    width: 100%;
    height: 100%;
    .loading-msg {
        position: absolute;
        top: 40%;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);
    }
}
.logo-img {
    height: 45px;
    margin: 27px 0;
}

img {
    max-width: 100%;
}
.left-pane {
    align-items: flex-start;
}
textarea,
input[type=text] {
    width: 100%;
}
input[type=text]{
    margin-bottom: 20px;
}
.msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.actions {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.page {
    height: 100vh;
}
textarea.form-control {
  min-height: 210px;
}
.btn-primary:hover {
  background-color: #6f9950 !important;
}
.btn-primary {
  color: #fff;
  background-color: #5f8e3c;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1350px;
  }
}
@media (min-width: 768px) {
  .container * {
      font-size: 1.25rem;
  }
}
.top-header {
  border-bottom: 1px solid #e5e7eb;
}
main {
  padding-top: 97px;
}

.video-title { padding-bottom: 15px;}
.flex-end {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    .form-group {
        width: 100%;
    }
    .form-control-wrap > input {
        width: 100%;
    }
}

.validation-error {
    color: red;
}
.no-access-card {
    position: relative;
}
.no-access-txt {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form-control {
    color: #333;
    border: 1px solid #999;
}
.form-group .form-control-wrap input {
    border: 1px solid #999;
}