 <!-- Banner Section Start  -->
 <cpo-home-banner></cpo-home-banner>
 
<!-- Banner Section End  -->
<!-- Features Section Start  -->
 <cpo-home-features></cpo-home-features>

<!-- Features Section End  -->
<!-- Nk How-It Work Section Start -->
 <cpo-home-how-it-works></cpo-home-how-it-works>
<!-- Nk How-It Work Section End -->
<!-- testimonial Section Start  -->
<cpo-home-testimonial></cpo-home-testimonial>
<!-- testimonial Section End  -->
<!-- Counter Section Start  -->
<cpo-home-counter></cpo-home-counter>
<!-- Counter Section End  -->
<!-- Faqs Section Start  -->
<cpo-home-faqs></cpo-home-faqs>
<!-- Faqs Section End  -->

<!-- Call-to-action Section Start  -->
<cpo-home-call-to-action></cpo-home-call-to-action>
<!-- Call-to-action Section End  -->
<!-- NewsLetter Section Start  -->
<section class="nk-section nk-newsletter-section pb-lg-0 pb-lg-0">
    <div class="container">
        <div
            class="row justify-content-center justify-content-lg-between align-items-center pb-5 border-bottom border-gray-50">
            <div class="col-lg-6 col-xl-4">
                <div class="nk-newsletter-content text-center text-lg-start pb-5 pb-lg-0">
                    <h4 class="text-capitalize mb-2">Subscribe to our newsletter</h4>
                    <p class="fs-16">Join the 5000+ People That Uses Softnio Products.</p>
                </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5">
                <form data-action="form/subscribe.php" class="form-submit-init" method="post">
                    <div class="form-group nk-newsletter-one row">
                        <div class="col-md-8">
                            <div class="form-control-wrap mb-4 mb-md-0">
                                <input type="email" name="email"
                                    class="form-control text-base    border-dark "
                                    placeholder="Enter Your Email" required>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-0">
                            <input type="submit" class="btn btn-primary btn-block h-100"
                                value="Subscribe" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- NewsLetter Section End  -->