<section class="nk-section bg-blue-600">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-xxl-4">
                <div class="nk-section-head pb-lg-0 mt-xl-n6 text-center text-lg-start">
                    <span class="nk-section-subtitle">FAQs</span>
                    <h2 class="nk-section-title">Frequently Asked Questions</h2>
                    <p class="nk-section-text">Find answers to commonly asked questions about our product or
                        service in our comprehensive FAQ section.</p>
                    <ul class="nk-btn-group flex-wrap justify-content-center justify-content-lg-start pt-5">
                        <li>
                            <a href="help-center.html" class="btn btn-primary">Go to support center</a>
                        </li>
                        <li>
                            <a href="contact-us-business-solution.html"
                                class="btn btn-outline-primary">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-xxl-8">
                <div class="nk-faq">
                    <div class="accordion accordion-s3" id="businessFaq">
                        <div class="accordion-item" data-aos="fade-up">
                            <div class="accordion-header">
                                <h6>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faqCollapseOne">
                                        <span class="text-capitalize">How can I access this tool?</span>
                                        <em class="icon ni ni-plus on"></em>
                                        <em class="icon ni ni-minus off"></em>
                                    </button>
                                </h6>
                            </div>
                            <div id="faqCollapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#businessFaq">
                                <div class="accordion-body">
                                    <p class="fs-16"> <a href="javascript::void()">Sign up</a> to create an
                                        account and <a href="javascript::void()">request access</a> to gain
                                        permission. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up">
                            <div class="accordion-header">
                                <h6>
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo">
                                        <span class="text-capitalize">How do I contribute to this
                                            project?</span>
                                        <em class="icon ni ni-plus on"></em>
                                        <em class="icon ni ni-minus off"></em>
                                    </button>
                                </h6>
                            </div>
                            <div id="faqCollapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#businessFaq">
                                <div class="accordion-body">
                                    <p class="fs-16"> If you wish to help with the development of this
                                        project submit a message on the <a href="javascript::void()">contact
                                            page</a> or email us directly. If you wish to make a donation
                                        via PayPal you can do so on our <a
                                            href="javascript::void()">donation page</a>. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up">
                            <div class="accordion-header">
                                <h6>
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapseThree">
                                        <span class="text-capitalize">How do I request a free demo?</span>
                                        <em class="icon ni ni-plus on"></em>
                                        <em class="icon ni ni-minus off"></em>
                                    </button>
                                </h6>
                            </div>
                            <div id="faqCollapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#businessFaq">
                                <div class="accordion-body">
                                    <p class="fs-16"> <a href="javascript::void()">Click here</a> to request
                                        a free demo to get a better idea of what the applicaiton is capable
                                        of. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up">
                            <div class="accordion-header">
                                <h6>
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapseFour">
                                        <span class="text-capitalize">What is the Method and how does it
                                            relate to the application?</span>
                                        <em class="icon ni ni-plus on"></em>
                                        <em class="icon ni ni-minus off"></em>
                                    </button>
                                </h6>
                            </div>
                            <div id="faqCollapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#businessFaq">
                                <div class="accordion-body">
                                    <p class="fs-16"> The Method is... </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>