<section class="nk-section overflow-hidden pt-7 pt-lg-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="nk-section-head text-center">
                    <span class="nk-section-subtitle">Customer testimonials</span>
                    <div>
                        <h2 class="nk-section-title">Stories From Our Customers</h2>
                        <p class="nk-section-text"> Read inspiring stories and testimonials from our
                            satisfied customers who have experienced success with our products/services.
                        </p>
                    </div>
                    <ul class="nk-btn-group justify-content-center pt-5">
                        <li>
                            <a href="customer-testimonials.html" class="btn btn-primary">See All Reviews</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-outline-primary">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="swiper swiper-init nk-swiper nk-swiper-s4 pt-5 pt-lg-0" data-autoplay="true"
            data-space-between="30" data-breakpoints='{
        "0":{"slidesPerView":1,"slidesPerGroup":1 },
        "991":{"slidesPerView":2,"slidesPerGroup":1}
     }'>
            <div class="swiper-wrapper has-pagination">
                <div class="swiper-slide h-auto">
                    <div class="nk-testimonial-card nk-testimonial-card-s3 shadow-none">
                        <div class="nk-testimonial-content">
                            <div class="nk-testimonial-icon mb-0">
                                <em class="icon ni ni-quote-left"></em>
                            </div>
                            <p class="lead line-clamp-3"> I have been using this platform for my online
                                store, and it has been a game-changer for me. The ease of managing my
                                inventory, processing orders, and analyzing sales data has allowed me to
                                focus more on growing my business. The platform's intuitive interface and
                                robust features have made my life so much easier. I highly recommend it to
                                any online business owner looking for a comprehensive solution. </p>
                            <div class="media-group align-items-center pt-4">
                                <div class="media media-circle">
                                    <img src="assets/images/avatar/a.jpg" alt="avatar">
                                </div>
                                <div class="media-text">
                                    <h5 class="mb-n1 text-capitalize">John Carter</h5>
                                    <span class="fs-14 fw-medium">Financial Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-auto">
                    <div class="nk-testimonial-card nk-testimonial-card-s3 shadow-none">
                        <div class="nk-testimonial-content">
                            <div class="nk-testimonial-icon mb-0">
                                <em class="icon ni ni-quote-left"></em>
                            </div>
                            <p class="lead line-clamp-3"> After struggling with manual processes and
                                scattered data, I decided to give this platform a try, and I'm so glad I
                                did. The automation features have saved me so much time and effort. From
                                automated inventory updates to seamless integration with my online
                                marketplace, I now have more control and visibility over my operations.
                                Plus, the detailed analytics have helped me identify trends and optimize my
                                product offerings. It's a must-have tool for any business owner </p>
                            <div class="media-group align-items-center pt-4">
                                <div class="media media-circle">
                                    <img src="assets/images/avatar/b.jpg" alt="">
                                </div>
                                <div class="media-text">
                                    <h5 class="mb-n1 text-capitalize">Bella Grace</h5>
                                    <span class="fs-14 fw-medium">Digital Marketing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-auto">
                    <div class="nk-testimonial-card nk-testimonial-card-s3 shadow-none">
                        <div class="nk-testimonial-content">
                            <div class="nk-testimonial-icon mb-0">
                                <em class="icon ni ni-quote-left"></em>
                            </div>
                            <p class="lead line-clamp-3"> Since implementing this platform, my business has
                                experienced remarkable growth. The ability to easily manage orders, track
                                shipments, and monitor customer engagement has been invaluable. I now have a
                                clear picture of my business performance and can make informed decisions to
                                drive further growth. The platform's user-friendly interface and prompt
                                customer support have exceeded my expectations. I couldn't be happier with
                                the results. </p>
                            <div class="media-group align-items-center pt-4">
                                <div class="media media-circle">
                                    <img src="assets/images/avatar/a.jpg" alt="avatar">
                                </div>
                                <div class="media-text">
                                    <h5 class="mb-n1 text-capitalize">John Carter</h5>
                                    <span class="fs-14 fw-medium">Financial Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .swiper-wrap -->
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-group d-none d-lg-block">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- swiper-button-group -->
        </div>
    </div>
</section>