<section class="nk-banner nk-banner-project-management padding-bottom">
    
    <div class="nk-banner-cover nk-frame nk-frame-six">
        <div class="banner-container">
    <div class="sphere-container" #sphereEl></div>
        </div>
    </div>

    <div class="nk-banner-wrap">

        <div class="container">
            <div class="row">
                <div class="col-12">
                </div>
            </div>

            <div class="row justify-content-center justify-content-xl-between align-items-xl-center">
                <div class="col-lg-10 col-xl-5 semi-transparent">
                    <div class="nk-section-head text-center text-xl-start pb-5 pb-md-7 pb-xl-0">
                        <span class="badge badge-md text-bg-primary-soft rounded-pill text-uppercase px-3 mb-3"
                            data-aos="fade-up" data-aos-delay="0">project solutions</span>
                        <div>
                            <h1 class="text-capitalize mb-2" data-aos="fade-up" data-aos-delay="50">
                                An innovative apprach to <span class="text-primary">project</span> design
                            </h1>
                            <p class="nk-section-text" data-aos="fade-up" data-aos-delay="100"> Critical
                                Pass helps design projects based on The Method by IDesign, a revolutionary approach to Software
                                Architecture and Project Management
                             </p>
                        </div>
                        <ul class="nk-btn-group flex-wrap justify-content-center justify-content-xl-start pt-5">
                            <li data-aos="fade-up" data-aos-delay="150">
                                <a routerLink="./request-access" class="btn btn-primary">Request Access</a>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="200">
                                <a [href]="appUrl + '/login'"
                                    class="btn btn-outline-light border-gray-50 text-dark">Sign Up</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>