<section class="nk-section nk-feature-abouts pb-7 pb-lg-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="nk-section-head text-center">
                    <span class="nk-section-subtitle">Success Numbers</span>
                    <h2 class="nk-section-title">Our results in numbers</h2>
                    <p class="nk-section-text"> Our Results in Numbers: Achievements, Success, and Growth
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-5 gy-lg-0">
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
                <div class="text-center">
                    <div class="feature-card-countdown mb-0">
                        <h2 class="nk-section-title">99 <span class="text-primary">%</span></h2>
                    </div>
                    <p class="fs-18"> customer retention rate </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="50">
                <div class="text-center">
                    <div class="feature-card-countdown mb-0">
                        <h2 class="nk-section-title">32 <span class="text-primary">M</span></h2>
                    </div>
                    <p class="fs-18"> satisfied customers </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
                <div class="text-center">
                    <div class="feature-card-countdown mb-0">
                        <h2 class="nk-section-title">125 <span class="text-primary">+</span>
                        </h2>
                    </div>
                    <p class="fs-18"> positive feedback from customer </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="150">
                <div class="text-center">
                    <div class="feature-card-countdown mb-0">
                        <h2 class="nk-section-title">240 <span class="text-primary">%</span>
                        </h2>
                    </div>
                    <p class="fs-18"> reduction in operational costs </p>
                </div>
            </div>
        </div>
    </div>
</section>